.task-container {
  background-color: orange;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: whitesmoke;
  align-items: center;
}

.task-title {
  cursor: pointer;
}

.button-container {
  width: 30%;
  display: flex; 
  justify-content: flex-end;
}

.remove-task-button, .see-task-details-button {
  background-color: orange;
  border: none;
  font-size: 24px;
  color:whitesmoke;
  margin: 0 5px;
}


